%h1 Listing Quotes

%table
  %tr
    %th Name
    %th Description
    %th
    %th
    %th

  - @quotes.each do |quote|
    %tr
      %td= quote.name
      %td= quote.description
      %td= link_to pluralize(quote.values.size, 'record'), quote_values_path(quote)
      %td= link_to 'Show', quote
      %td
        = link_to 'Edit', edit_quote_path(quote)
        |
        = link_to 'Destroy', quote, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Quote', new_quote_path
