= simple_form_for @analyzer do |f|
  -if @analyzer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@analyzer.errors.count, "error")} prohibited this analyzer from being saved:"
      %ul
        - @analyzer.errors.full_messages.each do |msg|
          %li= msg

  = f.input :name, :required => true
  = f.input :all_actions, :label_html => { :class => 'inline' }
  %br
  = f.association :ctw, :required => true, :include_blank => false
  = f.input :start_date, :as => :date, :required => true, :start_year => 2005, :end_year => Date.today.year, :input_html => { :class => 'inline' }
  = f.input :end_date, :as => :date, :required => true, :start_year => 2005, :end_year => Date.today.year, :input_html => { :class => 'inline' }
  %br
  = f.submit 'Save'
