- title "Listing Analyzers"

%p
  = link_to 'New Analyzer', new_analyzer_path

%p= paginate @analyzers

%table
  %tr.header
    %th Name
    %th All Actions
    %th CTW    
    %th Start date
    %th End date
    %th Total
    %th Price @Start
    %th Price @End
    %th

  - @analyzers.each do |analyzer|
    - ctw = Ctw.find(analyzer.ctw_id)
    %tr{:class => cycle('odd', 'even')}
      %td= link_to "#{analyzer.name}", analyzer_path(analyzer)
      %td= "#{'*' if analyzer.all_actions == true}"
      %td= link_to "#{ctw.name}", ctw_path(ctw)
      %td= analyzer.start_date
      %td= analyzer.end_date
      %td
        %b
          = number_with_delimiter(analyzer.total)
      %td= Value.where(['quote_id = ? and timestamp >= ?', ctw.quote_id, analyzer.start_date]).order("timestamp ASC").first.value
      %td= Value.where(['quote_id = ? and timestamp <= ?', ctw.quote_id, analyzer.end_date]).order("timestamp DESC").first.value
      %td
        = link_to 'Edit', edit_analyzer_path(analyzer)
        |
        = link_to 'Destroy', analyzer, :confirm => 'Are you sure?', :method => :delete

%br
%p= paginate @analyzers

