%h1 Listing Analyzers

%p
  = link_to 'New Analyzer', new_analyzer_path

%table
  %tr
    %th CTW
    %th Name
    %th Start date
    %th End date
    %th Total
    %th Price @Start
    %th Price @End
    %th
    %th

  - @analyzers.each do |analyzer|
    %tr
      %td= analyzer.ctw_id    
      %td= analyzer.name
      %td= analyzer.start_date
      %td= analyzer.end_date
      %td= number_with_delimiter(analyzer.total)
      %td= Value.where(['quote_id = ? and timestamp >= ?', analyzer.quote_id, analyzer.actions.first.timestamp]).order("timestamp ASC").first.value
      %td= Value.where(['quote_id = ? and timestamp >= ?', analyzer.quote_id, analyzer.actions.last.timestamp]).order("timestamp ASC").first.value
      %td= link_to 'Show', analyzer_actions_path(analyzer)
      %td
        = link_to 'Edit', edit_analyzer_path(analyzer)
        |
        /= link_to 'Destroy', analyzer, :confirm => 'Are you sure?', :method => :delete
        = button_to "Delete", analyzer, :method=>:delete, :class=>:destroy
%br
%p= paginate @analyzers

