-title "#{@quote.name} Values"

%script(type="text/javascript")  
  $(function () {
  window.chart = new Highcharts.StockChart({
  chart: { renderTo: 'chart' },
  rangeSelector : {
  selected : 6
  },
  title : {
  text : "#{@quote.name}"
  },
  xAxis : {
  type: 'datetime'
  \// maxZoom : 14 * 24 * 3600000 // fourteen days
  },
  series: [{
  data: #{@values.map {|v| [v.timestamp.to_i * 1000, v.value.to_f] }}
  }]
  });
  });
#chart

%br
%p= paginate @values  
%br
%table
  %tr.header
    %th Value
    %th Volume
    %th Timestamp

  - @values.each do |value|
    %tr{:class => cycle('odd', 'even')} 
      %td= value.value
      %td= value.volume
      %td= value.timestamp

%br
%p= paginate @values

