%h1
  = @analyzer.name
  Actions

%p
  %h3 
    Total: 
    = number_with_delimiter(@analyzer.total)

%br

%p= paginate @actions

%table
  %tr
    %th Cost
    %th Amount
    %th Timestamp

  - @actions.each do |action|
    %tr
      %td= action.cost
      %td= action.amount
      %td= action.timestamp

%p= paginate @actions
