%h1
  = @analyzer.name
  Actions

%p
  %h3 
    Total: 
    = Action.total_cost(@analyzer.id)

%br

%table
  %tr
    %th Cost
    %th Amount
    %th Timestamp

  - @actions.each do |action|
    %tr
      %td= action.cost
      %td= action.amount
      %td= action.timestamp

%br
%p= paginate @actions
