%h1
  = @analyzer.name
  Actions

%p
  %h3 
    Total: 
    = number_with_delimiter(@analyzer.total)

%br

%script(type="text/javascript")  
  $(function () {
  window.chart = new Highcharts.StockChart({
  chart: { renderTo: 'chart' },
  rangeSelector : {
  selected : 6
  },
  title : {
  text : "SIE"
  },
  xAxis : {
  type: 'datetime'
  \// maxZoom : 14 * 24 * 3600000 // fourteen days
  },
  series: [{
  pointInterval: 60000,
  data: #{@actions.map {|a| [a.timestamp.to_i * 1000, a.cost.abs.to_f] }},
  name: "Price"
  }]
  });
  });
#chart

%br
%p= paginate @actions
%br

%table
  %tr
    %th Cost
    %th Amount
    %th Timestamp

  - @actions.each do |action|
    %tr
      %td= action.cost
      %td= action.amount
      %td= action.timestamp

%p= paginate @actions
