%p#notice= notice

%p
  %b Ctw:
  = @action.ctw_id
%p
  %b Cost:
  = @action.cost
%p
  %b Amount:
  = @action.amount
%p
  %b Timestamp:
  = @action.timestamp
  
= link_to 'Edit', edit_action_path(@action)
\|
= link_to 'Back', actions_path
