%h1= @ctw.name

%br
%p= paginate @ctw_collectors

%table
  %tr
    %th Timestamp
    %th Pr0
    %th Pr1
    %th Pr2
    %th Depth

  - @ctw_collectors.each do |ctw_collector|
    %tr
      %td= ctw_collector.timestamp
      %td= ctw_collector.pr0
      %td= ctw_collector.pr1
      %td= ctw_collector.pr2
      %td= ctw_collector.depth

%p= paginate @ctw_collectors

