- title "Summary: #{@analyzer.name}"

%p= paginate_date(@analyzer, @date)

%table
  %tr.header
    %th Profit
    %th Stock Qty
    %th Cash
    %th Total stock value
    %th Timestamp
  - for account in @accounts
    %tr{:class => cycle('odd', 'even')} 
      %td= number_with_delimiter(account.cash + account.total_stock_value)
      %td= number_with_delimiter(account.stock_amount)
      %td= number_with_delimiter(account.cash)
      %td= number_with_delimiter(account.total_stock_value)
      %td= account.timestamp

%p= paginate_date(@analyzer, @date)
