- title "Summary: #{@analyzer.name}"

%table.small
  %tr.header
    %th Daily Profit
    %th Profit till #{@date.to_s}
  %tr.center
    %td= @accounts.last.profit - @accounts.first.profit
    %td= @accounts.last.profit
    
%p= paginate_date(@analyzer, @date)
%br

%table
  %tr.header
    %th Profit
    %th Stock Qty
    %th Cash
    %th Total stock value
    %th Timestamp
  - for account in @accounts
    %tr{:class => cycle('odd', 'even')} 
      %td= number_with_delimiter(account.profit)
      %td= number_with_delimiter(account.stock_amount)
      %td= number_with_delimiter(account.cash)
      %td= number_with_delimiter(account.total_stock_value)
      %td= account.timestamp

%p= paginate_date(@analyzer, @date)
